body {
    top: 25%;
    background-color: #121212;
}

.card {
    display: flex;
    margin-top: 2%;
    margin-bottom: 10%;
    width: 900px;
    height: 450px;
    border-radius: 20px;
    background: #191919;
}

.logoBox {
    margin: 5% 5% 5% 5%;
    width: 300px;
    height: 380px;
    border-radius: 20px;
    background: #191919;
}

.logoBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    margin: 5% 5% 5% 5%;
}

.container {
    position: relative;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.gform {
    flex-direction: row;
    margin: 5% 5% 5% 5%;
}

p {
    color: #FFFFFF;
}